<!doctype html>
<html>
<head>
<link rel="stylesheet" href="../static/style.css">
<link rel="shortcut icon" href="../static/Contact.ico">
<title>Contact Me</title>
</head>
<body>
<img class="im1" src="../static/landscape_Contact.jpg">
<div class="menu">
	<a class="menu" href="/">Home</a>
	<a class="menu" href="biodata">Bio</a>
	<a class="menu" href="family">Info:Family</a>
	<a class="menu" href="best_places">Best</a>
	<a class="menuselect" href="contact">Contact Me</a>
	</div>
<div class="bod">
<p class="contact"><img class="contact" src="../static/cont.ico"> Contact <img class="contact" src="../static/cont.ico"></p>
<br>
<form>
	Full Name:<br> <input type="text" size=25 placeholder="Full Name. . ." name="n1" required><br><br>
	Email:<br> <input type="text" size=25 placeholder="Email Id. . ." name="em1" required><br><br>
	Comment*:<br> <textarea rows=6 cols=50 placeholder="Comment here. . ."></textarea><br>
<button class="form_1" type="submit" value="Sub" name="but1">Send</button>
<button class="form_2" type="reset" value="Res" name="but2">Clear</button>
</form>
<fieldset class="field1">
<legend align="center"><h1><img class="arrow_down" src="../static/arrow_down.png"> Contact Me: <img class="arrow_down" src="../static/arrow_down.png"></h1></legend>
<div class="index_contact">
<a href="https://goo.gl/OcU2hr"><img class="index_contact_ico" src="../static/insta.ico"></a>
<a href="https://goo.gl/m5SsV5"><img class="index_contact_ico" src="../static/fb.ico"></a>
<a href="https://goo.gl/rRfLVU"><img class="index_contact_ico" src="../static/twitter.ico"></a>
<a href="https://goo.gl/wKDy9U"><img class="index_contact_ico" src="../static/gmail.ico"></a>
		</div></fieldset>
	</div>
<a href="#top"><button class="index_end" type="button">Goto Top</button></a>
</body>
</html>
